{% if products %}
                <div><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
				<div class="toolbar toolbar-products">
					<div class="modes">
						<div class="btn-group">
							<button type="button" id="grid-view" class="btn"></button>
							<button type="button" id="list-view" class="btn"></button>
						</div>
					</div>
					<div class="toolbar-amount">
						<span>{{ results }}</span>
					</div>
					<div class="sorter">
						<label>{{ text_sort }}</label>
						<select id="input-sort" class="form-control" onchange="oclayerednavigationajax.filter(this.value)">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="limiter">
						<label>{{ text_limit }}</label>
						<select id="input-limit" class="form-control" onchange="oclayerednavigationajax.filter(this.value)">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
                <div class="custom-products">
                    <div class="row">
						{% 	set count = 1 %}
						{% 	for product in products %}
						<div class="product-layout product-list">
							<div class="product-thumb">
								<div class="item {{ 'item' ~ count  }}">
									<div class="item-inner">		
										<div class="col-image">
											<div class="image images-container">
												<a href="{{ product.href }}" class="product-image">
													<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
													{% if product.rotator_image %}<img class="img-r img-responsive" src="{{ product.rotator_image }}" alt="{{ product.name }}" title="{{ product.name }}"  />{% endif %}
												</a>
												{% if product.special %}
													<div class="label-product label_sale">{{  text_label_sale }}</div>
												{% endif %}
												{% if product.is_new %}
													<div class="label-product label_new">{{ text_label_new }}</div>
												{% endif %}
												
												
												<div class="action-links">
													<button class="button btn-wishlist" type="button"  title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span>{{ button_wishlist }}</span></button>
													<!--<button class="button btn-compare" type="button"  title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><span>{{ button_compare }}</span></button>-->
													<button class="button btn-quickview" type="button"  title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><span>{{ button_quickview }}</span></button>
												</div>
											
											</div>
										</div>
										<div class="col-des">
											<div class="caption">
												{% if product.manufacturer %}
												<p class="manufacture-product">
													<a href="{{ product.manufacturers }}">{{ product.manufacturer }}</a>
												</p>
												{% endif %}
												{% if product.rating %}
												<div class="ratings">
													<div class="rating-box">
														{% for i in 0..5 %}
															{% if product.rating == i %}
															{% set class_r = "rating"~i %}
															<div class="{{ class_r }}">rating</div>
															{% endif %}
														{% endfor %}
														</div>
													</div>					
												{% endif %}	
												<h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
												{% if product.price %}
													<div class="price-box">
													<label>{{ price_label }}</label>
													{% if not product.special %}
														<p class="regular-price"><span class="price">{{ product.price }}</span></p>
													{% else %}
														<p class="special-price"><span class="price">{{ product.special }}</span></p>
														<p class="old-price"><span class="price">{{ product.price }}</span></p>						  
													{% endif %}
													{% if product.tax %}
														<p class="price-tax"><span class="price">{{ text_tax }} {{ product.tax }}</span></p>
													{% endif %}
													</div>
												{% endif %}
												
												<p class="product-des">{{ product.description }}</p>
												
												<div class="box-hover"><button class="button btn-cart" type="button"  title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}')"><span>{{ button_cart }}</span></button></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script >
								$(document).ready(function() {
									$(".product-list .item{{ count }} .product-name").prependTo($('.product-list .item{{ count }} .caption'));
									$('#grid-view').click(function() {
										$(".item{{ count }} .ratings").prependTo($('.item{{ count }} .caption'));
									});
									$('#list-view').click(function() {
										$(".item{{ count }} .product-name").prependTo($('.item{{ count }} .caption'));
									});
								});
							</script>
						</div>
						{% set count = count + 1 %}
						{% endfor %}
					</div>
                </div>
                <div class="toolbar toolbar-products toolbar-bottom">
                    <div class="toolbar-amount"><span>{{ results }}</span></div>
					<div class="pages">{{ pagination }}</div>
                </div>
                {% endif %}
                {% if not categories and not products %}
                    <p class="text_empty">{{ text_empty }}</p>
                    <div class="buttons">
                        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
                    </div>
                {% endif %}