
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------*/
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #696969;
	font-size: 12px;
	line-height: 1.428571429;
	width: 100%;
	background: #f6f5f1;
}
.common-home {
	background: #fff;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #202226;
	line-height: 1.35;
	font-family: 'Oswald', sans-serif;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #202226;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #78a206;
}
body ::-webkit-scrollbar-track
{
	 
	background-color: #fff;
}

body ::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #fff;
}

body ::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.07);	
	background-image: rgba(0,0,0,0.07);	
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
input[type=text] {
	min-width: 50px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
img{
	max-width: 100%; 
	height: auto;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #78a206;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #78a206;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #78a206;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #78a206;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #78a206;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #78a206;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #78a206;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #78a206;
}
.tooltip-inner{
	background: #78a206;
}
.alert{
	text-align: center;
	font-size: 13px;
	margin: 0;
	border-radius: 0;
	border: none;
}
/* transition */
a:hover,.banner-3 a:hover::before,
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover,
.product-layout:hover  .action-links,
.static-policy .col:hover .text-content h2, .static-policy .col:hover .col-img .hover,
.layout1:hover .btn-wishlist, .layout1:hover .btn-compare,
.banner-2 a:hover::before, .product-image:hover .img-r,
.banner-1 > div:hover img{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff;
	background-color: #78a206;
	border-color: #78a206;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: none;
	background: #202226;
	padding: 0px 30px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	line-height: 50px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	font-family: 'Oswald', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
#button-voucher,
#button-coupon{
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
	border-radius: 20px;
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
#modal-agree{
	z-index: 9999;
}
/* owl carousel */
.owl-container {
	margin: 0 -15px;
}
.owl-container .owl-item {
	padding: 0 15px;
}
.owl-carousel.owl-theme:hover .owl-nav div {
  opacity: 1;
}
.owl-carousel.owl-theme  .owl-dot:hover span {
	background: #78a206;
}
.owl-carousel.owl-theme  .owl-dot.active span {
  background: #78a206;
  width: 28px;
  border-radius: 10px;
}
.owl-carousel.owl-theme  .owl-dot {
	display:inline-block;
	vertical-align:top;
}
.owl-carousel.owl-theme  .owl-dot span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
  margin: 5px;
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.owl-carousel.owl-theme .owl-nav {
	margin: 0;
}
.owl-carousel.owl-theme .owl-nav div {
  position: absolute;
  top: 50%;
  font-size: 0;
  margin: 0;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 46px;
  border: 2px solid #e1e1e1;
  background: transparent;
  color: #c5c5c5;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.owl-carousel.owl-theme .owl-nav div:before {
	font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    width: 100%;
}
.owl-carousel.owl-theme .owl-nav div.owl-prev {
  left: -55px;
}
.owl-carousel.owl-theme .owl-nav div.owl-prev:before {
  content: "\f104";
}
.owl-carousel.owl-theme .owl-nav div.owl-next {
  right: -55px;
}
.owl-carousel.owl-theme .owl-nav div.owl-next:before {
  content: "\f105";
}
.owl-carousel.owl-theme .owl-nav div:hover {
	background: #f6f5f1;
	color: #444;
	box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1);
	border-color: #fff;
}
/*--------------*/

/* newsletter popup */
.b-close{
	display: block;
}
.newletter-popup{
	background: #fff;
	top: 50% !important;
	
	position: fixed !important;
	padding: 0;
	text-align: center;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
#boxes .newletter-title h2{
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 15px;
}
.newletter-popup #dialog {
	padding: 50px 20px;
}
#boxes .box-content label{
	font-weight: 400;
	max-width: 90%;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 65%;
	margin: 20px 0;
	padding:0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	margin-top: -1px;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	
	text-align: center;
	background: #333;
	border-radius: 0;
	cursor: pointer;
	float: right;
	padding: 5px 10px;
	color: #fff;
	margin-top: -49px;
	margin-right: -19px;
}
#popup2:hover {
	background:#78a206;
}
/* newsllter */
.newletter-subscribe-container {
	text-align: center;
}
.newletter-subscribe-container .container-inner {
}
.newletter-subscribe-container .container-inner img.icon-newletter {
	position: absolute;
	bottom:4px;
	left:-110px;
}
#dialog-normal .newletter-title {margin-bottom: 43px;}
#dialog-normal .newletter-title h3 {
	font-size: 24px;
	text-transform: capitalize;
	margin: 0 0 13px 0;
}
#dialog-normal .newletter-title h3 span {
	color: #78a206;
	font-weight: 500;
}

#dialog-normal .newletter-title label{
	font-size: 12px;
	color: #696969;
	display: block;
	line-height: 24px;
	=: 0
	max-width: 600px;
	max-width: 85%;
	margin: auto;
}

#dialog-normal .newleter-content{
    position: relative;
}
#subscribe-normal {
	margin-bottom: 0;
	position: relative;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	max-width: 600px;
}

#subscribe_email-normal{
	display: inline-block;
	padding: 15px 25px;
	padding-right: 135px;
	line-height: 30px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #e1e1e1;
	box-shadow: 0 1px 0 0 #fff;
	color: #7b7b7b;
	font-size: 12px;
	background: #e9e8e2;
	width: 100%;
	font-weight: 400;
	position: relative;
	z-index: 1;
}
#subscribe-normal .btn:hover{
	color: #333;
}
#subscribe-normal .btn {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 50px;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 12px;
	text-align: center;
	padding: 0 35px;
	background: #78a206;
	color: #fff;
	border-radius: 25px;
	font-family: 'Oswald', sans-serif;
}

#notification-normal{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -25px;
}
#notification-normal div{
	color: #FFF;
}
#notification-normal div.warning{
	color: red;
	text-align: center;
}
/* Header */
.common-home header {
	min-height: 0;
	background: none;
	margin-bottom: 0;
}

header {
	position: relative;
	min-height: 457px;
	background: url(../image/bkg_header1.jpg) center repeat-x;
	margin-bottom: 40px;
}
.header-inner {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 60px;
	z-index: 10;
}
.header-inner .container-inner {
	position: relative;
}
header .box {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
header .box-left {
	left: 0;
	right: 0;
}
header .box-right {
	right: -10px;
}
header .box-setting {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;
}
.setting-button {
	font-size: 24px;
	color: #252525;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	box-shadow: none !important;
}
.setting-button:before {
	content: "\e6a3";
    font-family: 'Stroke-Gap-Icons';
    font-size: 17px;
}
.setting-button:hover {
	color: #78a206;
}
header .setting-content .text-ex,header .setting-content  .btn-link-current{
	margin-right: 9px;
	color: #292929;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 25px;
	padding: 0;
	font-size: 12px;
	border: 0;
	pointer-events: none;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
header .setting-content .text-ex {
	margin-right: 5px;
}
header .setting-content > div {
	margin-bottom: 14px;
}
header .setting-content > div:last-child {
	margin-bottom: 0;
}
header .setting-content .content {
	border-top: 1px solid #ebebeb;
	margin-top: 3px;
	padding-top: 4px;
	padding-left: 20px;
}
header .btn-group .dropdown-menu{
	position: absolute;
	right: 0;
	float: none;
	width: 280px;
	padding:35px 40px 32px 40px;
	left: auto;
	text-align: left;
	font-size: 12px;
	margin: 0;
	background: white;
	border-radius: 3px;
	border: none;
	-webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
}
header .btn-group header-links {
	left: auto;
	right: -15px;
}
header .setting-content .btn-group .dropdown-menu li {padding-left: 20px;}
header .btn-group .dropdown-menu li:last-child {
	border:0;
}
header .btn-group .dropdown-menu li > a,
header .btn-group .dropdown-menu li> button {
	font-size: 12px;
	padding: 3px 0;
	line-height: 24px;
	display: block;
	text-transform: capitalize;
	font-weight: normal;
	height: inherit;
	border-radius: 0;
	text-align: left;
	color: #6b6b6b;
}
header .btn-group .dropdown-menu li > a:hover,
header .btn-group .dropdown-menu li> button:hover {
	text-decoration: none;
	color: #78a206;
}
header .btn-group .dropdown-menu li a img,
header .btn-group .dropdown-menu li button img{
	vertical-align: baseline;
	margin-right:5px;
}
header .btn-group .dropdown-menu > a:hover,
header .btn-group .dropdown-menu > button:hover,
header .btn-group .dropdown-menu .item-selected{
	color: #78a206;
	text-decoration: none;
}
.logo-container {display: inline-block;vertical-align: top;float: left;margin: 48px 0;position: relative;z-index: 2;}
#logo{
	/* padding: 48px 0; */
}
#logo a{
	display: inline-block;
}
.headerSpace {
	display: none;
}
/* Search */
.search-button {
	
	color: #252525;
	height: 40px;
	width: 40px;
	line-height: 40px;
	cursor: pointer;
	box-shadow: none !important;
}
.search-button:before {
	font-family: 'Stroke-Gap-Icons';
    content: "\e6a4";
    font-size: 16px;
}
.search-button:hover {
	color: #78a206;
}
#search .search-content {
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	left: auto;
	right: -15px;
	width: auto;
}
#search {
	display: inline-block;
	vertical-align: top;
}
#search input {
	height: 47px;
	border: 1px solid #ebebeb;
	font-size: 12px;
	color: #a5a5a5;
	width: 500px;
	font-weight: 400;
	background: #fff;
	border-radius: 25px;
	box-shadow: none !important;
	padding: 10px 125px 10px 25px;
}
#search .input-group-btn {
	position: absolute;
	right: 0;
	width: auto;
}
#search .input-group-btn button {
	background: #78a206;
	color: #fff;
	font-size: 12px;
	padding: 0 40px;
	text-transform: uppercase;
	border-radius: 25px;
	border: 0;
	height: 47px;
	box-shadow: none !important;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}
#search .input-group-btn button:hover{
	background: #252525;
}

/* search category */
.top-search {
}
#search-by-category {
    position: relative;
    width: 100%;
}
#search-by-category .search-container{
}
#search-by-category .search-container .categories-container{
    position: absolute;
    padding: 10px 0;
    left: 0;
    top: 0;
}
#search-by-category .search-container #text-search{
    padding: 0 55px 0 190px;
    height: 49px;
    border-radius: 3px;
    font-size: 12px;
    border: 0;
    z-index: 1;
    background: #fff;
    color: #c2c2c2;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#search-by-category #sp-btn-search{
    position: absolute;
    right: 0px;
    top: 0;
}
#search-by-category .search-container .categories-container .hover-cate p{
    margin:0;
    color: #363f4d;
    padding: 0 30px 0 25px;
    cursor: pointer;
    overflow: hidden;
    position:relative;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 29px;
}
#search-by-category .search-container .categories-container .hover-cate p:after {
	content:"";
	position: absolute;
	width: 1px;
	height: 16px;
	background: #e1e1e1;
	right: 0;
	top: 50%;
	-moz-transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#search-by-category .search-container .categories-container .hover-cate p i{display: inline-block;vertical-align: top;font-size: inherit;line-height: inherit;margin-left: 19px;}
#search-by-category .search-container .categories-container .hover-cate .cate-items{
    z-index: 9999 !important;
    position: absolute;
    display: none;
    background: #FFF;
    max-height: 300px;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid #ddd!important;
    padding: 5px;
    width:100%;
    cursor: pointer;
	top: 100%;
	text-align: left;
}
.cate-items li {
    text-transform: capitalize;
    color: #363f4d;
    font-size: 11px;
    list-style: none;
    line-height: 18px;
}
.cate-items li:hover{
    color:#78a206
}
.cate-items li.f1 {
    padding-left: 5px;
}
.cate-items li.f2 {
    padding-left: 15px;
}
#search-by-category .search-ajax{
    position: absolute;
    z-index: 9999 !important;
    background: none repeat scroll 0% 0% #fff;
    left: 0px;
    top: 100%;
    width: 88%;
}
.ajax-result-item .product-info .detail .price-box .old-price{
	text-decoration: line-through;
	color: #acacac;
	font-weight: 400;
}
.ajax-result-item .product-info .detail .price-box p{
	display: inline-block;
}
.ajax-result-item .product-info .detail .price-box{
	font-weight: 700;
	margin: 0 0 10px 0;
}
.ajax-result-item .product-info .detail .product-name{
	margin: 10px 0;
}
#search-by-category .search-ajax li{
    list-style: none;
}
#search-by-category .search-ajax .ajax-result-container{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-msg{
  padding: 20px;
  margin: 0;
  color: #646464;
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-list{
    display:block;
    border:1px solid #ddd;
    max-height:300px;
    overflow: auto;
    padding:10px;
}
#btn-search-category:hover{
	color: #363f4d;
}
#btn-search-category{
    background: #78a206;
    border:none!important;
    padding:0;
    box-shadow:none;
    text-shadow:none;
    border-radius: 3px;
    height: 49px;
    width: 49px;
    color: #fff;
    font-size: 0;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 49px;
}
#btn-search-category:before {
	font-family: 'Stroke-Gap-Icons';
	content: "\e6a4";
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
#cart > button {
	color: #252525;
	height: 40px;
	width: 40px;
	line-height: 40px;
	cursor: pointer;
	background: none;
	padding: 0;
	border: 0;
	box-shadow: none;
}
#cart > button:before {
	content: "\e680";
    font-family: 'Stroke-Gap-Icons';
    font-size: 19px;
}
#wishlist-total .text, #link-compare .text, #cart .text {
	display: none;
}
#wishlist-total:hover, #link-compare:hover,#cart > button:hover {
	color: #363f4d;
}
#link-compare span {
	display:none;
}
.search-container{}
.cart-container{
	padding: 45px 15px 0 0;
	width: 18%;
}
#cart-total .item-cart,#wishlist-total .count,#cart-total
{
	position: absolute;
	display: block;
	color: #fff;
	top: 2px;
	left: 27px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #78a206;
	border-radius: 100%;
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	font-style: normal;
}
#cart .dropdown-menu {
}
#cart{
	width: auto;
	display: inline-block;
	vertical-align: top;
}
#cart-total .total-price{
	color: #fff;
}

#cart > button:hover {
	color: #78a206;
}
#cart .mycart {
	display: none;
}
#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}

.top-menu {
	position: relative;
	z-index: 7;
	background: #363f4d;
	padding: 8px 0;
}

.fix-header{
	border: none;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px #bdbdbd;
	-moz-box-shadow: 0 0 5px #bdbdbd;
	-webkit-box-shadow: 0 0 5px #bdbdbd;
	-o-box-shadow: 0 0 5px #bdbdbd;
	-ms-box-shadow: 0 0 5px #bdbdbd;
	width: 100%;
	max-width: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 889;
	margin: 0 auto;
	position: fixed !important;
	-webkit-animation-name: fadeInDown;
	-webkit-animation-duration: 5.0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: anim_titles;
	-moz-animation-duration: 5.0s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
}
.fix-header #pt_custommenu::after, 
.fix-header #pt_custommenu::before{
	display: none;
}
.fix-header .pt_custommenu div.pt_menu .parentMenu a {
	/* padding-top: 18px; */
	/* padding-bottom: 18px; */
}
.fix-header #pt_custommenu{
	margin: 0;
}
.fix-header .logo-container {
	margin: 10px 0;
}
/* cms block */
.banner-static {
  text-align: center;
  clear: both;
  /* overflow: hidden; */
}
.banner-static .owl-pagination {
	position:absolute;
	left:0;
	right:0;
	margin: auto;
	bottom: 2%;
}
.banner-static .image a {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
}
.banner-static .image a:hover img {
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}
.banner-static .image a:hover .text .link {
  background: #fff;
  color: #333333;
}
.banner-static .image a img {
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.banner-static .image a .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-static .image a .text .text1,
.banner-static .image a .text .text2,
.banner-static .image a .text .text3 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.banner-static .image a:hover .text .text1 {
  -webkit-animation: fadeInUp 400ms ease-in-out;
  -moz-animation: fadeInUp 400ms ease-in-out;
  -ms-animation: fadeInUp 400ms ease-in-out;
  animation: fadeInUp 400ms ease-in-out;
}
.banner-static .image a:hover .text .text2 {
  -webkit-animation: fadeInUp 600ms ease-in-out;
  -moz-animation: fadeInUp 600ms ease-in-out;
  -ms-animation: fadeInUp 600ms ease-in-out;
  animation: fadeInUp 600ms ease-in-out;
}
.banner-static .image a:hover .text .text3 {
  -webkit-animation: fadeInUp 800ms ease-in-out;
  -moz-animation: fadeInUp 800ms ease-in-out;
  -ms-animation: fadeInUp 800ms ease-in-out;
  animation: fadeInUp 800ms ease-in-out;
}
.static-menu-bottom {
  padding: 30px 30px 5px 30px;
}
.static-sidebar {
	margin-top: 60px;
	margin-bottom: 30px;
}
.static-top-nature2 {
	margin-top: 30px;
}
.static-top-nature2 .image {
	margin-top: 30px;
}
.static-top-nature2 .image a {
	border-radius: 15px;
}
.static1-full {
	background: #ffffff url(../image/bg_static1.jpg) center no-repeat;
	padding: 190px 0;
}
.static-middle-nature2 {
  
}
.static-middle-nature2 .home-banner {
}
.static-middle-nature2 .home-banner  .iner-box .text {max-width: 600px;}
.static-middle-nature2 .home-banner  .iner-box .text h5 {
  color: #444444;
  font-weight: 300;
  font-size: 24px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}
.static-middle-nature2 .home-banner  .iner-box .text h5 span {
  color: #9db165;
  padding-left: 10px;
}
.static-middle-nature2 .home-banner  .iner-box .text h1 {
  margin: 0;
  font-size: 72px;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  font-weight: bold;
  line-height: 1;
}
.static-middle-nature2 .home-banner  .iner-box .text h2 {
  font-size: 24px;
  color: #9db165;
  margin: 0px;
  position: relative;
  text-transform: uppercase;
  padding-left: 55px;
  margin-top: 25px;
  padding-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.static-middle-nature2 .home-banner  .iner-box .text h2:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff url(../image/before_h2.png) center no-repeat;
  height: 47px;
  width: 41px;
}
.static-middle-nature2 .home-banner  .iner-box .text p {
  margin: 0;
  font-size: 12px;
  color: #696969;
  display: block;
  margin-top: 18px;
  line-height: 24px;
}
.static-middle-nature2 .home-banner  .iner-box .text .shop {
  margin-top: 60px;
}
.static-middle-nature2 .home-banner  .iner-box .text .shop a {
  border: 2px solid #2c2c2c;
  color: #2c2c2c;
  font-size: 12px;
  border-radius: 30px;
  padding: 0 25px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Oswald,sans-serif;
}
.static-middle-nature2 .home-banner  .iner-box .text .shop a:hover {
  border-color: #78a206;
  background: #78a206;
  color: #fff;
}

/* Products */ 

.owl-item.active .item {
  -moz-animation: zoomIn 500ms ease;
  -o-animation: zoomIn 500ms ease;
  -webkit-animation: zoomIn 500ms ease;
  animation: zoomIn 500ms ease;
}
.item .item-inner {
	position: relative;
	/* z-index: 10; */
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 0 0 30px;
	border: 1px solid #e7e7e7;
	border-radius: 20px;
	box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.item .item-inner:hover {
	border-color: #fff;
    box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
}
body:not(.common-home) .label-product {
	display: none;
}
.label_new,.label_sale {
	color: #fff;
	background:#78a206;
	line-height: 22px;
	padding: 0 11px;
	border-radius: 2px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 36px;
	left: 10px;
	text-transform: uppercase;
	font-size: 10px;
	z-index: 3;
}
.label_sale {
	background: #f26522;
	top: 10px;
}

.item-inner .images-container {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.item-inner .images-container .product-image {
	position:relative;
	display: block;
}
.item-inner .images-container img {
	margin: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}
.item-inner .images-container .img-r {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	opacity:0;
	visibility:hidden;
	z-index: 1;
}
.item-inner:hover .images-container .img-r {
	opacity:1;
	visibility: visible;
}

.qv-button-container {
	display: block;
}

.item-inner .action-links button {
	width: 47px;
	height: 47px;
	margin: 3px;
	border: 1px solid #ececeb;
	line-height: 45px;
	font-size: 0;
	background: #fff;
	color: #2c2c2c;
	padding: 0;
	border-radius: 100%;
}

.item-inner .action-links button:before {
	content: "\e67e";
    font-family: 'Stroke-Gap-Icons';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-weight: normal;
	font-size: 18px;
}
.item-inner .action-links button.btn-compare:before {
	content: "\e6a9";
}
.item-inner .action-links button.btn-quickview:before {
	content: "\e6a4"
}
button.btn-quickview span,button.btn-compare span,button.btn-wishlist span{ display:none;}

.item-inner .action-links button:hover {
	background: #78a206;
	color: #fff;
	border-color: #78a206;
}
.item-inner  button.btn-cart {
	line-height: 39px;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid #ececeb;
	background: #fff;
	color: #2c2c2c;
	padding: 0 25px;
	border-radius: 20px;
}
.item-inner  button.btn-cart:hover {
	color: #fff;
	background:#78a206;
	border-color: #78a206;
}
.item-inner .caption {
	padding: 0 10px;
	background: transparent;
	text-align: center;
	position: relative;
}
.item-inner .product-des {line-height: 24px;padding-bottom: 10px;}
.product-name {
	margin-bottom: 35px;
	display: block;
	margin-top: 0;
}
.product-name a {
	color: #202226;
	padding: 0;
	display: block;
	text-transform: capitalize;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.product-name a:hover {
	color: #78a206;
}
.ratings {
	display:block;
}
.ratings a {
	margin-left: 15px;
	text-transform: capitalize;
	color: #adadad;
	font-size: 12px;
	line-height: 13px;
	display: inline-block;
	vertical-align: top;
}
.ratings a:hover {
	color: #78a206;
}
.ratings a.review-count:after {
	content: "|";
	margin-left: 15px;
}
.ratings .rating-box {
	display: inline-block;
	vertical-align:top;
}
.rating-box div[class^='rating']{
	background: url('../image/rating0.png') no-repeat;
	font-size: 0;
	height: 13px;
	width: 77px;
}
.rating-box div.rating1{
	background-image: url('../image/rating1.png');
}
.rating-box div.rating2{
	background-image: url('../image/rating2.png');
}
.rating-box div.rating3{
	background-image: url('../image/rating3.png');
}
.rating-box div.rating4{
	background-image: url('../image/rating4.png');
}
.rating-box div.rating5{
	background-image: url('../image/rating5.png');
}
.price-box p {
	display: inline-block;
	vertical-align:top;
	margin-bottom: 0;
}
.price-box .price-tax {
	display: none;
}
.price-box .price {
	color: #78a206;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
}
.price-box p.special-price .price{
	color: #78a206;
}
.price-box p.old-price {
	margin-left: 5px;
	padding-top: 1px;
}
.price-box p.old-price .price {
	color: #b8b8b8;
	text-decoration: line-through;
	font-size: 14px;
}
.item-inner .caption .price-box {
	display: block;
}
.item-inner .caption .ratings {margin-top: 6px;margin-bottom: 3px;}
.item-inner .caption .action-links {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.item-inner .caption .price-box label {
	margin:0;
	font-size: 13px;
	color: #363f4d;
	display: none;
}
.item-inner .caption .manufacture-product {
	display: none;
}

.item-inner .caption .available {
	display: none;
}
/* module title*/
.module-title {
	position: relative;
	display: block;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 40px;
}
.module-title:before {
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    background: url(../image/line.png) left center no-repeat;
    height: 7px;
    left: 0;
    width: 35%;
    margin-top: -3.5px;
}
.module-title:after {
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    background: url(../image/line.png) right center no-repeat;
    height: 7px;
    right: 0;
    width: 35%;
    margin-top: -3.5px;
}
.module-title h2 {
	position: relative;
	display: inline-block;
	text-transform: none;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}
.module-title h2 span {
	color: #a9a9a9;
	font-weight: 200;
}
.module-title h2:before {
	content: "";
	display: block;
	height: 165px;
	width: 194px;
	margin: 0 auto;
	margin-bottom: -23px;
}
.module-description p {
	line-height: 24px;
	font-size: 12px;
	max-width: 720px;
	margin: auto;
	color: #696969;
}
/*-------------*/

/*product-customize*/
.module-customize1 .product-customize {
	padding: 60px 0;
}
.module-customize1 .product-customize .row {
	display: table;
}
.module-customize1 .product-customize .row .col {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.module-customize1 .product-customize .item-inner .caption {
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	padding: 35px 15px 45px 15px;
}
.module-customize1 .product-customize .product-name a {
	font-size: 28px;
	font-weight: 700;
}
.module-customize1 .product-customize .product-name {
	margin-bottom: 3px;
}
.module-customize1 .product-customize .manufacture-product {
	color: #999;
	text-transform: capitalize;
	font-size: 22px;
	font-style: italic;
}
.module-customize1 .product-customize .manufacture-product a {
	font-style: normal;''
}
.module-customize1 .product-customize .product-des {
	color: #666;
	font-size: 16px;
	line-height: 24px;
	padding-top: 8px;
}
.module-customize1 .product-customize .read-more {
	color: #78a206;
	text-transform: capitalize;
	text-decoration: underline;
	display: block;
	margin-top: 17px;
}
.module-customize1 .product-customize .read-more:hover {
	color: #202226;
}
.module-customize1 .product-customize .price-box .price {
	font-size: 28px;
}
.module-customize1 .product-customize .price-box p.old-price .price {
	font-size: 24px;
}
.module-customize1 .product-customize .price-box p.old-price {
	padding-top: 3px;
}
.module-customize1 .product-customize .item-inner .caption .ratings {
	margin-top: 7px;
}
.module-customize1 .product-customize .item-inner .caption .action-links {
	display: block;
	margin-top: 20px;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart {
	float: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	background: #78a206;
	padding: 0 22px;
	color: #fff;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart:before {
	display: none;
}
.module-customize1 .product-customize .item-inner .action-links button.btn-cart:hover {
	background: #202226;
}

/*grid-style*/
.grid-style:not(:first-child) {
	/* margin-top: 30px; */
}
.grid-style .item-inner:hover .images-container .product-image {
	opacity: 0.2;
}
.grid-style .item-inner .action-links {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	text-align: center;
	top: 55%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
.grid-style .item-inner:hover .action-links {
	opacity: 1;
	top: 50%;
}
.grid-style .item-inner .box-hover {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
.grid-style .item-inner:hover .box-hover {
	bottom: 0;
	opacity: 1;
}
.grid-style .item-inner .caption .price-box {
	-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
.grid-style .item-inner:hover .caption .price-box {
	opacity: 0;
}
/*list-style*/

.list-style .item .item-inner {
	padding: 8px;
	margin-bottom: 5px;
	background: #f6f5f1;
}
.list-style .item .item-inner:hover {
	box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
}
.list-style .item .item-inner .images-container {
    float: left;
    width: 34.375%;
}

.list-style .item .item-inner .caption {
    padding: 8px 8px 8px 20px;
    text-align: left;
    width: 65.625%;
    float: left;
    position: static;
}
.list-style .box-hover {
	position: absolute;
	right: 25px;
	bottom: 15px;
	opacity: 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.list-style .item-inner:hover .box-hover {
	opacity: 1;
}
.list-style .product-name {
	margin-bottom: 25px;
}
.list-style .item-inner .caption .ratings {
}
.list-style .box-hover button.btn-cart {
	font-size: 0;
	width: 44px;
	height: 44px;
	line-height: 42px;
	border: 1px solid #ebebeb;
	background: #fff;
	border-radius: 100%;
	padding: 0;
	color: #2b2b2b;
}
.list-style .box-hover button.btn-cart:before {
    content: "\e680";
    font-family: Stroke-Gap-Icons;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.list-style .box-hover button.btn-cart:hover {
	color: #fff;
	background: #78a206;
	border-color: #78a206;
}
.list-style .action-links {
	margin-top: 5px;
}
.list-style .action-links {
	opacity: 0;
}
.list-style .item-inner:hover .action-links {
	opacity: 1;
}
.list-module .module-title {
	text-align: left;
	margin-top: 86px;
}
.list-module .module-title h2 {
	font-size: 24px;
}
.list-module .module-title h2:before,.list-module .module-title:before,.list-module .module-title:after {
	display: none;
}
.products-full {
	background: url(../image/bg_product.jpg) center no-repeat;
	background-size: cover;
	padding-bottom: 225px;
}
.list-module .owl-stage-outer {
	padding-bottom: 10px;
}
/* module-style1 */

.module-style1 .item .item-inner {
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.module-style1 .item {
	padding-top: 10px;
}
.module-style1 .item .item-inner:hover {
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
}
.module-style1 .box-hover {
	position: absolute;
	background: #fff;
	left: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
	top: 80%;
	z-index: 5;
	margin-top: -5px;
	padding-top: 8px;
	padding-bottom: 17px;
	box-shadow: 0px 3px 7px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
.module-style1 .item-inner:hover .box-hover {
	opacity: 1;
    visibility: visible;
    top: 100%;
}
.module-style1 .owl-carousel .owl-stage-outer {
	margin-bottom: -60px;
	padding-bottom: 60px;
	position: relative;
}
.module-style1.active .owl-carousel .owl-stage-outer {
	z-index: 5;
}
/* module-style2*/
.module-style2 {

}
.module-style2 .module-title {
	text-align: left;
	border-bottom: 1px solid #78a206;
	margin-bottom: 30px;
}
.module-style2 .module-title h2 {
	font-size: 24px;
	padding-bottom: 12px;
}
.module-style2 .module-title h2:before,.module-style2 .module-title h2:after {
	display: none;
}

/* module-style3 */

/* module-nav2 */
.module-nav2  .owl-carousel.owl-theme .owl-nav {
  position: absolute;
  right: 16px;
  top: -47px;
}
.module-nav2  .owl-carousel.owl-theme .owl-nav div {
	position: relative;
	display: inline-block;
	vertical-align: top;
	opacity: 1;
	top: auto !important;
	left: auto !important;
	right: auto !important;
	margin: 0;
	width: 30px;
	height: 30px;
	line-height: 28px;
	border-width: 1px;
	font-weight: normal;
	background: transparent;
}
.module-nav2  .owl-carousel.owl-theme .owl-nav div.owl-prev {
	margin-right: 8px;
}
.module-nav2  .owl-carousel.owl-theme .owl-nav div:hover {
	color: #78a206;	
}
.module-nav2 .owl-carousel.owl-theme .owl-nav div:before {
	font-size: 12px;
}


/*--module-footer--*/
.module-footer {

}
.module-footer .module-title {
	margin-top: 0;
	margin-bottom: 25px;
	text-align: left;
}
.module-footer .module-title h2 {
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	padding-bottom: 0;
}
.module-footer .module-title h2:after,.module-footer .module-title h2:before {
	display: none;
}
.module-footer .list-style .item .item-inner {
	padding: 0;
	background: transparent;
}
.module-footer .list-style .item .item-inner .images-container {
	width: 29.63%;
	float: left;
}
.module-footer .list-style .item .item-inner .caption {
	padding-left: 20px;
}
.module-footer .list-style:not(:first-child) {
	margin-top: 20px;
}
.module-footer  .product-name a {
	color: #fff;
}
.module-footer  .product-name a:hover {
	color: #78a206;
}
.module-footer .price-box .price {
	color: #fff;
}
/* slider-group */
.slider-group {margin-top: 20px;}

/* tabs-category-slider */
.tabproducts-full {
	background: url(../image/bg_category.jpg) center no-repeat;
	background-size: cover;
	margin-top: 60px;
	padding-bottom: 90px;
}
.tabs-category-slider {

}
.tabs-category-slider .module-title {
	margin-bottom: 0;
}
.tabs-category-slider .tabs-categorys {
	z-index: 1;
	display: block;
	margin: auto;
	vertical-align: top;
	position: relative;
	padding: 20px 0;
	margin-top: -57px;
	margin-bottom: 30px;
}
.tabs-category-slider .tabs-categorys li {
	margin-right: 12px;
	display: inline-block;
	vertical-align: top;
}
.tabs-category-slider .tabs-categorys li:nth-child(3),
.tabs-category-slider .tabs-categorys li:nth-child(4) {
	float: right;
	margin: 0;
	margin-left: 12px;
}
.tabs-category-slider .tabs-categorys li a {
	font-size: 12px;
    color: #aeaeae;
    text-transform: none;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    line-height: 24px;
    padding: 7px 25px;
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

.tabs-category-slider .tabs-categorys li:last-child {
	margin:0;
}

.tabs-category-slider .tabs-categorys li a:hover,.tabs-category-slider .tabs-categorys li.active a{
	color: #2c2c2c;
	background: #e4007a;
	border-color: #e4007a;
	box-shadow: 5px 6px 20px 0px rgba(0, 0, 0, 0.1);
	color: #fff;
}

/* product-tabs-container-slider */
.product-tabs-container-slider .module-title h2 {
	display: none;
}
.product-tabs-container-slider .tabs-categorys {
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 17px;
}
.product-tabs-container-slider .tabs-categorys li {
	margin-right: 35px;
	float: left;
}
.product-tabs-container-slider .tabs-categorys li a {
	font-size: 14px;
	color: #bbbbbb;
	line-height: 26px;
	
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	
}
.product-tabs-container-slider .tabs-categorys li:last-child {
	margin:0;
}
.product-tabs-container-slider .tabs-categorys li a:hover,.product-tabs-container-slider .tabs-categorys li.active a{
	color: #333333;
}
/* bestseller-products-slider */
.bestseller-products-slider {

}


/* related-products */
.related-products {

}

/* featured-categories-container */
.featured-categories-container {
}
.featured-categories-title {
	margin-bottom: 37px;
	margin-top: 38px;
	position: relative;
    display: block;
    text-align: center;
}
.featured-categories-title h2 {
	display: none;
}
.featured-categories-title:before {
	 content: "";
	 display: block;
	 margin: 0 auto;
	 margin-bottom: 10px;
	 background: url(../image/bkg_farmfood.png) center no-repeat;
	 height: 114px;
	 top: 0;
}
.fcategory-content {
	text-align: center;
	border: 1px solid #f0f0f0;
	padding: 43px 0 40px 0;
	border-radius: 20px;
	margin-top: 15px;
	margin-bottom: 30px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.fcategory-content:hover {
	background: #f6f5f1;
	border-color: #fff;
	box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
}
.fcategory-content .image {
	display:block;
	margin-bottom: 21px;
	padding-bottom: 35px;
	position: relative;
}
.fcategory-content .image:after {
	content: "";
    position: absolute;
    width: 114px;
    height: 1px;
    background: url(../image/bg_line.png) center;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.featured-categories-container .content-thumb .name {margin: 0;margin-bottom: 14px;}
.featured-categories-container .content-thumb .name a {
	font-size: 18px;
	color: #6c8e01;
	display: block;
	text-transform: capitalize;
	font-weight: 500;
}
.featured-categories-container .content-thumb .name a:hover {
	text-decoration: underline;
}
.featured-categories-container .content-thumb .total-items {
	font-size: 12px;
	color: #78a206;
	margin-bottom: 0;
}
.sub-featured-categories li a {
	display: block;
	font-size: 13px;
	color: #7a7a7a;
	line-height: 24px;
}
.sub-featured-categories li a:hover {
	color: #78a206;
	padding-left: 7px;
}
.featured-categories-container .view-more {
	line-height: 29px;
	padding: 0 20px;
	color: #fff;
	text-transform: capitalize;
	background: #363f4d;
	border-radius: 3px;
	display:inline-block;
	vertical-align: top;
	margin-top: 19px;
}
.featured-categories-container .view-more:hover {
	background: #78a206;
}
/* CountDown */
.occountdown_module .module-title{
}
.occountdown_module .item-inner .images-container img {
	z-index: -2;
	position: relative;
}
.occountdown_module .item-inner .images-container .img-r {
	z-index: -1;
	position: absolute;
}
.occountdown_module .product-name {
	margin-bottom: 55px;
}
.occountdown_module .item-inner .caption {
	margin-top: 30px;
}
.occountdown_module .item .item-inner {
	padding-bottom: 60px;
}

.occountdown_module .item-inner .images-container .product-image {
	opacity: 1 !important;
}

.occountdown_module .item .item-inner:hover {
	opacity: 1;
}
.text-hurryup {
	display: none;
}
.occountdown_module .text-hurryup {
	font-size: 15px;
	color: #666666;
	position: relative;
	margin-top: 35px;
}
.occountdown_module .text-hurryup:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #eeeeee;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}
.occountdown_module .text-hurryup p {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	background: #fff;
	margin: 0;
	z-index: 2;
	position: relative;
}
.occountdown_module .text-hurryup strong {
	display: block;
	color: #202226;
	font-size: 18px;
	margin-bottom: 2px;
}

.is-countdown {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 3;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.countdown-row {
	display: inline-block;
	vertical-align: top;
}
.countdown-section {
	float: left;
	margin-right: 18px;
	text-align: center;
	text-transform: capitalize;
	position: relative;
	font-family: 'Oswald', sans-serif;
}
.countdown-section:last-child {
	margin-right:0;
}
.countdown-amount {
	font-size: 30px;
	color: #232323;
	position: relative;
	font-weight: 500;
}

.countdown-period {
	font-size: 14px;
	color: #939393;
	font-weight: 200;
	margin-left: 3px;
}
/* testimonial */
/* testimonial */
.testimonial-container {
	margin-top: 65px;
	padding-bottom: 20px;
}
.testimonial-container .module-title {display: none;}
.testimonial-content{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.testimonial-box {
	position: relative;
	padding-top: 80px;
	max-width: 82%;
	margin: auto;
}
.testimonial-box:before {
	content: "";
	position: absolute;
	width: 62px;
	height: 49px;
	background: url(../image/icon_testimor.png);
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
		
}
.testimonial-box a {
	color: #696969;
}
.testimonial-author {
	font-size: 14px;
	font-weight: 600;
	color: #2c2c2c;
	margin-top: 12px;
	display: block;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	opacity: 0;
}
.current .testimonial-author{
	opacity: 1;
}
.testimonial-container ul.thumb {
	text-align: center;
	max-width: 400px;
	margin: auto;
}
.testimonial-container ul.thumb li {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.testimonial-container ul.thumb li img {
	opacity: 0.4;
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.testimonial-container ul.thumb .current li img {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.testimonial-container ul.thumb li:hover img {
	opacity: 1;
}
.row-testimonials {
	padding: 20px;
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
	text-align: center;
}
/* corporate */
.ma-corporate-about {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  
}
.ma-corporate-about .container-inner {
	border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #fff;
}
.ma-corporate-about .inner {
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e1;
  	border-top: 1px solid #fff;
}
.ma-corporate-about .col {
	background: url(../image/line_right.png) right center no-repeat;	
}
.ma-corporate-about .col:last-child {
	background: none;
}
.ma-corporate-about .block-wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  padding-left: 77px;
  background: url(../image/bg_icon1.png) left center no-repeat;
}
.ma-corporate-about .block-wrapper.wrapper2 {
	background: url(../image/bg_icon2.png) left center no-repeat;
	padding-left: 67px;
}
.ma-corporate-about .block-wrapper.wrapper3 {
	background: url(../image/bg_icon3.png) left center no-repeat;
	padding-left: 70px;
}
.ma-corporate-about .block-wrapper .text-des {
  display: block;
  position: relative;
  max-width: 225px;
}
.ma-corporate-about .block-wrapper .text-des h3 {
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  font-size: 18px;
  display: block;
  margin-bottom: 7px;
}
.ma-corporate-about .block-wrapper .text-des p {
  display: block;
  margin: 0;
  line-height: 24px;
  color: #7b7b7b;
}
/* End Corporate */
.menu-recent {
}
.menu-recent .module-title {
	margin-bottom: 43px;
}

.menu-recent .row_items .articles-inner:not(:first-child) {
	margin-top:20px;
}
.menu-recent .articles-image {
	position: relative;
}
.menu-recent .aritcles-content {text-align: center;border: 1px solid #e8e8e8;border-top: 0;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;overflow: hidden;padding: 30px 15px;}
.menu-recent .aritcles-content .content-inner {
}
.menu-recent .articles-image a {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 100%;
	width: 100%;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.menu-recent .articles-image a img {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.menu-recent .articles-image a:hover img {
	-moz-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}
.articles-name {
	display: block;
	font-size: 18px;
	text-transform: none;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	margin-bottom: 10px;
	color: #202226;
	font-family: 'Oswald', sans-serif;
}
.articles-date {
	font-size: 12px;
	text-transform: capitalize;
	color: #9d9d9d;
	margin-bottom: 25px;
}
.articles-date .artice-day {
}
.articles-date .author-name span {
	color: #78a206;
}
.articles-intro p {
	line-height: 24px;
	font-size: 12px;
	padding: 0;
	font-weight: 400;
	margin: 0;
	color: #696969;
}
.menu-recent .read-more {
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	margin-top: 29px;
	margin-bottom: 5px;
	padding: 0 30px;
	line-height: 39px;
	border: 2px solid #e1e1e1;
	font-family: 'Oswald', sans-serif;
	border-radius: 20px;
}
.menu-recent .read-more:hover {
	color: #fff;
	background: #78a206;
	border-color: #78a206;
}
.blog-blog .intro-content img,.blog-article .article-description img {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}
.blog-blog .article-list,.blog-article .article-container{
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
}
.article-description p,.intro-content p {
	line-height: 24px;
}
/*----instagram_block_home----*/
#instagram_block_home {
	position: relative;
}
#instagram_block_home .title_block {
	
}
#instagram_block_home .title_block h3 {
	
margin-bottom: 36px;
}
#instagram_block_home a.fancybox {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	border-radius: 4px;
}
#instagram_block_home a.fancybox:last-child {
	margin: 0;
}
#instagram_block_home a.fancybox img {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#instagram_block_home a.fancybox:hover img {
	-moz-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}
/* brand */
.brand-slider img {
	display:inline-block;
	vertical-align:top;
	opacity: 0.6;
}
.brand-slider img:hover {opacity:1;}
.brand-slider {
	padding: 46px 0;
	text-align: center;
}
/* Social */
.follow {text-align: center;margin-top: 45px;}
ul.link-follow {
  display: inline-block;
  vertical-align: top;
}
ul.link-follow li {
  float: left;
  margin-right: 18px;
  margin-top: 5px;
}
ul.link-follow li:last-child {
  margin-right: 0;
}
ul.link-follow li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #b6b6b6;
  background: transparent;
  border-radius: 100%;
  font-size: 0;
  line-height: 40px;
  padding: 0;
  width: 42px;
  height: 42px;
  border: 1px solid #e1e1e1;
  text-align: center;
  box-shadow: 0 1px 0 0 #fff;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
ul.link-follow li a:before {
  font-size: 14px;
}
ul.link-follow li a span {
  display: none;
}
ul.link-follow li a:hover {
  border-color: #fff;
  color: #2c2c2c;
  box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1);
}
/* footer */
/* footer */
.common-home footer {
	
}
footer{
	background: #f6f5f1 url(../image/bkg_footer.jpg) top center no-repeat;
	background-size: cover;
	margin-top: 60px;
	padding-top: 170px;
}
.footer-top {
	padding: 52px 0 60px 0;
}
footer .col-footer{
	margin-bottom: 40px;
}
.col1 .footer-title {
	display: none;
}
.footer-title h3{
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	display: block;
	margin-bottom: 24px;
	margin-top: 10px;
}

.footer-content {
	line-height: 24px;
	font-size: 12px;
	color: #696969;
	font-weight: 400;
}
.footer-content .des {
	margin-top: 32px;
	margin-bottom: 20px;
}
.footer-contact {
}
.footer-contact li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 7px;
}
.footer-contact li:last-child {
	margin-bottom: 0;
}
.footer-contact li:before {
  content: "\e6ab";
  font-family:'Stroke-Gap-Icons';
  font-size: 16px;
  color: #78a206;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.footer-contact .phone:before {
  content: "\e640";
}
.footer-contact .email:before {
  content: "\e6b7";
  font-size: 14px;
}
.footer-payment {
	display:block;
	margin-top: 33px;
}
.footer-payment label {
	color:#57626f;
	margin-bottom: 10px;
	display: block;
}
footer .list-unstyled.text-content li a:hover{
	color: #78a206;
	padding-left: 7px;
}
footer .list-unstyled.text-content li a{color: #696969;display: block;font-weight: 400;padding: 4.5px 0;}
.footer-middle {
	background:#232f3e;
}
.footer-middle .container-inner {
	padding: 40px 0;
	border-top: 1px solid rgba(255,255,255,0.05);
}
.tag-static{
	
}
.tag-static li a:first-child{
	padding: 0 15px;
	font-weight: 400;
	color: #fff;
	background:#37475a;
	border-radius: 2px;
	margin-right: 8px;
}
.tag-static li a:first-child:after,.tag-static li a:last-child:after {
	display:none;
}
.tag-static li a {
	line-height: 32px;
	text-transform: capitalize;
	color: #5b697b;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.tag-static li a:after {
	content:"/";
	display: inline-block;
	vertical-align: top;
	margin:0 9px;
	color: #5b697b;
}
.tag-static li a:hover {
	color: #fff;
}

.tag-static li {
	display: block;
	margin-bottom: 8px;
}
.tag-static li:last-child {
	margin-bottom:0;
}
.footer-bottom {
	text-align: center;
}
.footer-bottom .container-inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 25px 0;
}

.footer-bottom .footer-copyright {
	color: #818181;
	font-size: 12px;
	background: none;
	text-transform: capitalize;
	font-weight: 400;
	padding: 10px 0;
	float: left;
}
.footer-bottom .footer-copyright a {
	color: #78a206;
}
.footer-bottom .footer-copyright a:hover {
	text-decoration: underline;
}
.footer-bottom .payment {
	float: right;
	padding: 5px 0;
}

#back-top i{
	font-size: 18px;
}
#back-top:hover{
	background: #78a206;
}
#back-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: rgba(35, 47, 62, 0.7);
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	color: #fff;
	display: none;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,.1);
}
/* breadcrumb */
.common-home .breadcrumbs {
	display: none;
}
.breadcrumbs {
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
	top: 80%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.breadcrumb{
	margin: 10px 0;
	background: none;
	padding: 0;
	text-transform: capitalize;
}
.breadcrumb li:before {
	margin: 0 3px;
}
.breadcrumb li a:hover,
.breadcrumb li:last-child a{
	color: #78a206;
}
.breadcrumb li a{
	color: #292929;
	font-size: 12px;
}
/*----------*/
.category-module .li a.active,
.category-module .li a:hover{
	color: #78a206
}
.category-module .li{
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
}
.category-module .li a{
	text-transform: capitalize;
	display: block;
	line-height: 30px;
}
.category-module > .ul{
	margin: 0;
	padding: 0 20px;
	border: 2px solid #78a206;
	border-top: 0;
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.category-module .list-child{
	padding-left: 30px;
}
.category-module{
	margin-bottom: 55px;
}
.category-module h3{
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	background: #78a206;
	font-weight: 900;
	width: 100%;
	padding: 15px 20px;
	margin: 0;
	line-height: 30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/* toolbar */
.text-refine {
	margin-top:0; 
}
.category-image {
	margin-bottom: 20px;
}
.category-image img {
	border: none;
}
#compare-total ,.list-cate{
	padding: 0;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}
.list-cate li {
	padding: 5px 0;
}
.toolbar-products {
	padding: 7px 15px;
	border: 1px solid #e1e1e1;
	margin-bottom: 35px;
	border-radius: 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	box-shadow: inset 0 0 0 1px #ffffff;
}
.toolbar-products.toolbar-bottom {
	margin-bottom:0;
	margin-top: 20px;
	border: 0;
	border-top: 1px solid #e1e1e1;
	box-shadow: inset 0 1px 0 0 #ffffff;
}
.toolbar-products .modes {
	display:inline-block;
	vertical-align: top;
	padding: 7.5px 0;
}
.toolbar-products .toolbar-amount {
	line-height: 30px;
	padding: 0;
	font-size: 12px;
	color: #7b7b7b;
	display: inline-block;
	vertical-align: top;
	padding: 7.5px 0;
}

.modes button {
	width: 30px;
	height: 30px;
	color: #fff;
	padding: 0;
	margin-right: 2px;
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	border: none;
	border-radius: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
#grid-view {
	background: url(../image/bkg_grid.png) center no-repeat;
}
#grid-view.selected,#grid-view:hover {
	background: url(../image/bkg_grid_hover.png) center no-repeat;
}
#list-view {
	background: url(../image/bkg_list.png) center no-repeat;
	margin: 0;
}
#list-view.selected,#list-view:hover {
	background: url(../image/bkg_list_hover.png) center no-repeat;
}
.toolbar-products .sorter {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	padding: 5px 0;
}
.toolbar-products .limiter {
	display: inline-block;
	vertical-align: top;
	padding: 5px 0;
}
.toolbar-products .sorter label,.toolbar-products .limiter label {
	display:inline-block;
	vertical-align: top;
	line-height: 35px;
	margin: 0 15px 0 0;
	color: #3e3e3e;
	font-size: 12px;
}
.toolbar-products .sorter select, .toolbar-products .limiter select {
	padding: 0 10px;
	height: 35px;
	min-width: 95px;
	font-size: 12px;
	color: #898888;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	border-radius: 20px;
	width: auto;
	border: 1px solid #e1e1e1;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.toolbar-products .pages {
	display:inline-block;
	vertical-align: top;
	padding: 5px 0;
}
.toolbar-products .pages ul {
	margin: 0;
	border-radius:0;
}
.toolbar-products .pages ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}
.toolbar-products .pages ul li a {
	color: #949494;
	font-size: 12px;
	font-weight: 500;
	padding: 0;
	width: 35px;
	border-radius: 100%;
	height: 35px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #e2e2e2;
	background: transparent;
	box-shadow: inset 0 0 0 1px #fff;
	font-family: 'Oswald', sans-serif;
}
.toolbar-products .pages ul li span {
	color: #fff;
	background: #78a206;
	font-size: 12px;
	border: 1px solid #fff;
	padding: 0;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	line-height: 33px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
}
.toolbar-products .pages ul li.active span,.toolbar-products .pages ul li:hover a {
	border-color: #fff;
	background: #fff;
	color: #2c2c2c;
    box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1);
}
/* category */
.category-img {
	display: block;
	margin-bottom: 20px;
	border-radius: 3px;
	overflow: hidden;
}
.category-img img {
	border: none;
}
.custom-products {
	border-right: 0;
	border-bottom: 0;
	display: inline-block;
	vertical-align:top;
	width: 100%;
}
.custom-products .product-grid {
	margin-bottom: 0;
	margin-top: 0;
}
.custom-products .item .item-inner {
	margin-top: 0;
}

.category-info .box-image {
	position: relative;
	text-align: center;
}
.category-name {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 36px;
	color: #292929;
	margin-bottom: 8px;
	margin-top: 0;
}
.category-name.ifthumb {
	position: absolute;
	color: #fff;
	
	left: 0;
	right: 0;
	margin:auto;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.product-grid .product-des {
	display: none;
}
.product-grid .item {
}
.product-list {margin-bottom: 30px;padding: 0 15px;}
.product-list .item-inner {
	padding: 30px;
}
.product-list .col-image, .product-list .col-des {
	padding: 0;
}
.product-list .item-inner .images-container {
	padding: 1px;
}
.product-list .caption {
	text-align: left;
	padding: 0;
	padding-left: 30px;
}
.product-list .product-name {
	margin-bottom: 25px;
}

.product-list .item-inner .caption .price-box {
	margin-top: 20px;
}

.product-list .product-des {
	line-height: 24px;
	padding: 17px 0;
	margin-bottom: 15px;
	margin-top: 25px;
	border-top: 1px solid #e1e1e1;
	box-shadow: inset 0 1px 0 0 #fff;
}
.product-list .item-inner button.btn-cart {
	background: #78a206;
	color: #fff;
	border-color: #78a206;
}
.product-list .item-inner button.btn-cart:hover {
	background: #fff;
	color: #78a206; 
}
.product-list .item-inner .action-links {
	position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 3;
    text-align: center;
    top: 55%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product-list .item-inner:hover .action-links {
	top: 50%;
	opacity: 1;
}
.product-list .item-inner:hover .images-container .product-image {
	opacity: 0.2;
}
/* product detail */
.product-quickview .product-info-main .button-cart {
	min-width: auto;
}
.product-quickview .zoomContainer .zoomLens {
	display: none !important;
}
.product-quickview .thumbnails {
	pointer-events: none;
}
.thumbnails {
	padding: 1px;
	border: 1px solid #e7e7e7;
	border-radius: 20px;
	box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
}
.thumbnails img,.thumbnails .thumbnail {
	border-radius: 20px;
	background: transparent;
}
.thumbnail, .img-thumbnail {
	-webkit-box-shadow:none;
	box-shadow: none;
	padding:0;
	border-radius:0;
	border: none;
	margin: 0;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #ddd;
}
.zoomContainer {
    top: 0px !important;
    left: 15px !important;
    right: 0px;
    bottom: 0px;
    width: 100% !important;
}
.zoomContainer .zoomLens {
    width: 100px !important;
    height: 100px !important;
}
.zoomContainer .zoomWindowContainer .zoomWindow {
    margin-left: 15px;
    border-color: #78a206 !important;
}
.image-additional-container {margin-top: 20px;}
.image-additional-container .thumbnail{
	
margin: 0;
	
border: 1px solid #e7e7e7;
	
border-radius: 15px;
	
box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
	
background: transparent;
	
padding: 1px;
}
.image-additional-container .thumbnail img {
	 border-radius: 15px;
}
.image-additional-container .thumbnail:hover,.image-additional-container .thumbnail.current-additional {
	border-color: #78a206;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-top: -18px;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div.owl-prev {
	opacity: 1;
}
.owl-style3 .owl-carousel.owl-theme .owl-nav div.owl-next {
	opacity: 1;
}
#product-product .column-main {
}
.product-info-main .product-name {
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0 0 27px 0;
	font-family: 'Poppins', sans-serif;
}
.product-info-main .price-box {
	display:block;
	margin-top: 22px;
}
.product-info-main .price-box .price {/* font-size: 24px; */}
.product-info-main .price-box p.old-price .price {
}
.product-info-main .price-box p.old-price {
}
.product-info-main .ratings {
}
.product-info-main .short-des {
	line-height: 24px;
	padding: 30px 0;
	padding-bottom: 20px;
	margin-top: 13px;
	color: #898989;
	border-top: 1px solid #e1e1e1;
	box-shadow: inset 0 1px 0 0 #fff;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    height: 30px;
    box-shadow: none;
    font-weight: 400;
    text-align: center;
    width: 30px;
    font-size: 14px;
    border-radius: 100%;
    padding: 0;
    color: #b4b4b4;
    float: left;
    background: #fff;
    border: 1px solid #e3e3e2;
}
 #minus2:hover, #plus2:hover,
#minus:hover, #plus:hover {
	background: #78a206;
	border-color: #78a206;
	color: #fff;
}
#input-quantity2,
#input-quantity {
    width: 42px;
    min-width: auto;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: #353535;
}
.product-info-main .form-group {
	display:inline-block;
	vertical-align: top;
	width: 100%;
}
label[for='input-quantity']{
	float: left;
	line-height: 42px;
	margin-right: 30px;
	margin-bottom: 0;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
}
.product-info-main .button-cart{
	font-size: 12px;
	line-height: 42px;
	padding: 0 25px;
	background: #78a206;
	float: left;
	margin-top: 12.5px;
	font-weight: 500;
	border-radius: 20px;
	margin-right: 15px;
}
.product-info-main .button-cart:hover {
	background: #202226;
}
.product-info-main button.btn-wishlist {margin-right: 15px;}
.product-info-main button.btn-wishlist,.product-info-main button.btn-compare {
	float: left;
	margin-top: 10px;
	width: 47px;
	height: 47px;
	border: 1px solid #ececeb;
	background: #fff;
	font-size: 0;
	text-transform: capitalize;
	color: #2c2c2c;
	border-radius: 100%;
	line-height: 45px;
	padding: 0;
}
.product-info-main button.btn-wishlist:hover,.product-info-main button.btn-compare:hover {
	background: #78a206;
	border-color: #78a206;
	color: #fff;
}
.product-info-main button.btn-wishlist:before,.product-info-main button.btn-compare:before {
	content: "\e67e";
	font-family:'Stroke-Gap-Icons';
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
	font-size: 18px;
}
.product-info-main button.btn-compare:before {
	content: "\e6a9";
}

#product2.has-option,
#product.has-option{
	max-height: 300px;
	overflow: auto;
	border: 1px solid #e1e1e1;
	padding: 20px;
}
#product + div{
	margin: 20px 0;
}
.quantity-box {
	float: left;
	margin-right: 15px;
	border: 1px solid #e7e7e7;
	border-radius: 25px;
	padding: 5px;
	box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
}
.product-info-main label[for='input-quantity'], .product-info-main .quantity-box {
	margin-top: 12.5px;
}
.product-info-main .box-options {
	margin-top: 5px;
	padding: 15px 0;
}
.product-info-main ul.list-unstyled {
	 
}
.product-info-main ul.list-unstyled li {
	display: block;
	line-height: 24px;
}
.product-info-main ul.list-unstyled li span,.product-info-main ul.list-unstyled li a {
	color: #93c241;
}
.product-info-main ul.list-unstyled li a:hover {
	text-decoration: underline;
}

.product-info-detailed {
	margin-top: 60px;
}
.product-info-detailed .nav-tabs {
	margin-bottom: 0;
	border-bottom: 0;
	text-align: center;
}
.product-info-detailed .nav-tabs li {
	margin-bottom: 0;
	position: relative;
	padding: 0 20px;
	float: none;
	display: inline-block;
	vertical-align: top;
	
}

.product-info-detailed .nav-tabs li:last-child {
	margin-right:0;
}

.product-info-detailed .nav-tabs li a {
	font-size: 24px;
	color: #bebebe !important;
	text-transform: capitalize;
	font-weight: 500;
	border-radius: 0;
	border: none !important;
	padding: 15px 0;
	margin: 0;
	background: none !important;
	position: relative;
	font-family: 'Oswald', sans-serif;
}


.product-info-detailed .nav-tabs li a:hover,.product-info-detailed .nav-tabs li.active a {
	background: none;
	color: #484848 !important;
}
.product-info-detailed .tab-content {
	line-height: 30px;
	padding: 30px 25px;
	background: transparent;
	color: #898989;
	font-size: 12px;
}
#tab-description p {
	margin:0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
#map-canvas{
	min-height: 400px;
	margin: 20px 0;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}



#content{
	min-height: 300px;
}

#cart .dropdown-menu {
    margin: 0;
    padding: 10px 30px 0 30px !important;
    width: 350px;
    right: 0;
    list-style: none none;
    border: 0;
    background: #fff;
    margin-top: 11px;
    box-sizing: border-box;
    border-radius: 0;
    top: 100%;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
}
#cart .dropdown-menu:after,#cart .dropdown-menu:before {
	border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#cart .dropdown-menu:before {
	border: 7px solid;
	border-color: transparent transparent #fff transparent;
	z-index: 99;
	right: 26px;
	top: -12px;
	opacity: 0;
}
#cart .dropdown-menu:after {
	border: 8px solid;
	border-color: transparent transparent #fff transparent;
	z-index: 98;
	right: 10px;
	top: -15px;
}
#cart .info-item >a {
	font-size: 14px;
	font-weight: 500;
	color: #232323;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}
#cart .info-item >a:hover {
	color: #78a206;
}
#cart .cart-close {
	position: absolute;
	top: 20px;
	right: 0;
	font-weight: 400;
}
#cart .cart-empty{
	padding-bottom: 25px;
	padding-top: 15px; 
}
#cart .dropdown-menu p{
	margin: 0;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr > td{
	border: 0;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	display: block;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
	color: #3e3d43;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
#cart .cart-close button{
	background: none;
	color: #bababa;
	background: #fff;
	border-radius: 100%;
	border: 0;
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#cart .cart-close button:hover {
	color: #78a206;
	border-color: #78a206;
}
#cart .cart-close button i { line-height: inherit;}
#cart .cart-quantity{
	color: #969696;
	line-height: 20px;
	display: block;
	padding: 5px 0;
	font-size: 12px;
}
#cart .cart-price {
	font-size: 16px;
	font-weight: 600;
	color: #78a206;
	padding-top: 2px;
	display: block;
	font-family: 'Oswald', sans-serif;
}
#cart .cart-name {
	color: #363f4d;
	font-size: 14px;
	line-height: 18px;
	display: block;
}
#cart .cart-name:hover {
	color: #78a206;
}
#cart .dropdown-menu .cart-button{margin: 0 -30px;padding: 30px;background: #292929;}
#cart p.cart-button a:last-child{margin-right: 0;}
#cart p.cart-button a{
	background: #202226;
	color: #fff;
	line-height: 43px;
	border: 2px solid #fff;
	text-align: center;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 15px;
	border-radius: 25px;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	font-family: 'Oswald', sans-serif;
}
#cart p.cart-button a strong {
	font-weight: 400;
}
#cart p.cart-button a:hover{
	color: #fff;
	background: #78a206;
	border-color: #78a206;
}
#cart p.cart-button a:hover i{
	color: #fff;
}
#cart p.cart-button a i{
	padding-left: 5px;
	font-size: 10px;
	display: none;
}
#cart .dropdown-menu .info-item{
	padding-left: 10px;
	padding-right: 15px;
}
#cart .dropdown-menu .has-scroll{
	max-height: 270px;
	overflow: auto;
	padding: 0 30px;
	margin: 0 -30px;
}
#cart .dropdown-menu .has-scroll img {
	border-radius: 10px;
}

#cart .dropdown-menu tr td strong{
	color: #232323;
	font-weight: 500;
	float: left;
	padding: 2px 0;
	font-size: 12px;
	text-transform: uppercase;
}
#cart .dropdown-menu tr td:last-child{
	color: #78a206;
	font-weight: 600;
	font-size: 16px;
}
.fluid-width > .container{
	width: auto;
	padding: 0 75px;
}
.fluid-width2 {
	background: #fff;
	margin-top: 60px;
}
/* responsive */

@media(max-width: 1599px){
	.fluid-width > .container{
		width: auto;
		padding: 0 30px;
	}
}
@media(max-width: 1349px){
	.owl-carousel.owl-theme .owl-nav div.owl-prev {
	  left: 0;
	}
	.owl-carousel.owl-theme .owl-nav div.owl-next {
	  right: 0;
	}
}
@media(max-width: 1199px){
	.static-middle-nature2 .home-banner  .iner-box .text h1 {
		font-size: 55px;
	}
	.products-full {
		padding-bottom: 130px;
	}
	.static1-full {
		padding: 130px 0;
	}
	.countdown-amount {
		font-size: 26px;
	}
}

@media(min-width: 992px){
	.occountdown_module .first .item .item-inner,.occountdown_module .last .item .item-inner  {
		opacity: 0.5;
		border: 1px solid #e7e7e7;
		box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
	}
	.occountdown_module .first .item .item-inner:hover,.occountdown_module .last .item .item-inner:hover  {
		opacity: 1;
		border-color: #fff;
		box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
	}

	.occountdown_module .item .item-inner {
		border-color: #fff;
		box-shadow: 6px 8px 30px 0px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #ffffff;
	}
	.occountdown_module .first .is-countdown,.occountdown_module .last .is-countdown {
		opacity: 0;
		bottom :-10px;
	}
	.occountdown_module .first .item-inner:hover .is-countdown,.occountdown_module .last .item-inner:hover .is-countdown {
		opacity: 1;
		bottom :0;
	}
}
@media(max-width: 991px){
	.col-order {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	.col-order #content {
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	    float: none;
	    
	}
	.col-order #column-left {
		-ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	    float: none;
	    
	}
	#column-left,#column-right {
		margin-top: 30px;
	}
	header {
		min-height: 300px;
	}
	.logo-container {
		float: left;
		padding-left: 30px;
		max-width: 50%;
		margin: 30px 0;
		position: static;
	}
	header .box-left {
		right: auto;
	}
	.breadcrumbs {
		top: 80%;
	}
	#search .search-content {
		right: -100px;
		
	}
	.common-home .header-inner {
	position: relative;
	background: #f7f7f7;
	
	}
	.header-inner {
		padding: 0 15px;
	}
	.hoz-menu,.box-cart {
		position: relative;
		z-index: 2;
		padding: 0;
		margin-bottom: 30px;
		-moz-transform:  translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.box-cart {
		display: inline-block;
		vertical-align: top;
		z-index: 1;
	}
	header .box-right {
		right: 0;
	}
	.tabproducts-full {
		margin-top: 50px;
		padding-bottom: 50px;
	}
	
	.static-middle-nature2 .home-banner .iner-box .text {
		max-width: 70%;
	}
	.list-module .module-title {
		margin-top: 46px;
	}
	.products-full {
		padding-top: 40px;
		padding-bottom: 90px;
	}
	.testimonial-container {
		margin-top: 60px;
	}
	footer {
		
		margin-top: 0;
	}
	.tabs-category-slider .tabs-categorys {
		margin-top: 0;
	}
	.static-middle-nature2 .home-banner  .iner-box .text h5 {
		font-size: 20px;
	}
	.static-middle-nature2 .home-banner  .iner-box .text h1 {
		font-size: 40px;
	}
	.static-middle-nature2 .home-banner  .iner-box .text .shop {
		margin-top: 20px;
	}
	.footer-bottom .payment {
		float: none;
		margin-top:	10px;
		display: block;
		text-align: center;
		
	}
	.footer-bottom .footer-copyright {
		float: none;
		display: block;
		text-align: center;
		max-width: none;
		line-height: 1.2;
	}
	#search-by-category .search-container #text-search {
		padding-left: 15px;
	}
	
	
	.newletter-popup,
	.b-modal{
		display: none !important;
	}
	.zoomContainer,
	.vermagemenu-container,
	#search-by-category .search-container .categories-container{
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	
	
}
@media(min-width: 768px) {
	.toolbar-products .modes {
		float: left;
		margin-right: 20px;
	}
	.toolbar-products .sorter,.toolbar-products .limiter ,.toolbar-products .pages {
		float: right;
	}
	
	.toolbar-products .toolbar-amount {
		float: left;
	}
	
}
@media(max-width: 767px){
	
	.link-compare {
		text-align: center;
	}
	header .box-setting {
		margin: 0;
	}
	#search input {
		width: 300px;
		padding-right: 50px;
	}
	
	#search .input-group-btn button span{
		display: none;
	}
	#search .input-group-btn button {
		padding: 0;
		width: 45px;
		height: 45px;
	}

	#search .input-group-btn button:before {
		font-family: 'Stroke-Gap-Icons';
		content: "\e6a4";
		font-size: 16px;
	}
	#search .input-group-btn {
		top: 1px;
		right: 1px;
	}
	
	
	.product-info-main .product-name {
		margin-top: 30px;
	}

}
@media(max-width: 640px){ 
	.tt_tabsproduct_module .tabs-categorys {
		text-align: center;
	}
	.tabs-category-slider .tabs-categorys li {
		margin: 5px !important;
		float: none !important;
	}
	.countdown-amount {
		font-size: 20px;
	}
	.countdown-section {
		margin-right: 10px;
	}
}
@media(max-width: 567px){ 
	.product-info-detailed .nav-tabs li {
		float: none;
		margin: 0;
		display: block;
		border-bottom: 1px solid #ebebeb;
	}
	.product-info-detailed .nav-tabs li:last-child {
		border-bottom:0;
	}
	.product-info-detailed .nav-tabs li:not(:first-child):before {
		display: none;
	}
	.featured-categories-title:before {
		background-size: 100%;
	}
	.countdown-section {
		margin-right: 2px;
	}
}

@media(max-width: 479px){
	.static-middle-nature2 .home-banner .iner-box .text {
		max-width: none;
	}
	.countdown-amount {
		font-size: 24px;
	}
	.countdown-section {
		margin-right: 10px;
	}
	.product-list .caption {
		padding-left: 0;
	}
	header .btn-group .dropdown-menu {
		right: -30px;
	}
	#search input {
		width: 250px;
	}
	#search .search-content {
		right: -50px;
	}
	#cart .dropdown-menu {
		width: 280px;
		padding: 10px 20px 0 20px !important;
	}
	#cart .dropdown-menu .has-scroll {
		margin: 0 -20px;
		padding: 0 20px;
	}
	#cart .dropdown-menu .cart-button {
		margin: 0 -20px;
		padding: 20px;
	}
	#cart p.cart-button a {
		margin-right: 5px;
		padding: 0 25px;
	}
}
/*Fix products-grid */
@media (min-width: 1200px){
	.custom-products .product-grid.three-items:nth-child(3n+1),
	.custom-products .product-grid.four-items:nth-child(4n+1),
	.custom-products .product-grid.two-items:nth-child(2n+1)
	{  clear: left;} 

}
@media (max-width: 1199px) and (min-width: 992px){
	.custom-products .product-grid.three-items:nth-child(3n+1), 
	.custom-products .product-grid.four-items:nth-child(4n+1),
	.custom-products .product-grid.two-items:nth-child(2n+1)
	{clear: left;}

}

@media (max-width: 991px) and (min-width: 481px){
	.custom-products .product-grid:nth-child(2n+1) {clear: left;}

}

@media (max-width: 480px) and (min-width: 0px){
	.custom-products .product-grid:nth-child(1n+1) {clear: left;}
	.custom-products .product-grid{width: 100%;}  

}
/*Fix products-no-slider */
@media (min-width: 768px) {
	.six_items:nth-child(6n+1),
	.four_items:nth-child(4n+1),
	.three_items:nth-child(3n+1),
	.two_items:nth-child(2n+1)
	{  clear: left;} 
}